					<div class="table-responsive">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>id</th>
									<th>title</th>
									<th>classify</th>
									<th>toindex</th>
									<th>tozhuanjia</th>
									<th>edit</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>zhuanjia</td>
									<td>Lorem</td>
									<td>ipsum</td>
									<td>dolor</td>
									<td>sit</td>
									<td><i class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#myModal"></i>　<i class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#myModal"></i></td>
								</tr>
								<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
												<h4 class="modal-title" id="myModalLabel">Modal title</h4>
											</div>
											<div class="modal-body">
												<form role="form">
													<div class="form-group">
														<label for="exampleInputEmail1">title</label>
														<input type="text" class="form-control" id="exampleInputEmail1" placeholder="title">
													</div>
													<div class="form-group">
														<label for="exampleInputPassword1">author</label>
														<input type="password" class="form-control" id="exampleInputPassword1" placeholder="author">
													</div>
													<div class="form-group">
														<label for="exampleInputPassword1">text</label>
														<textarea class="form-control" id="exampleInputPassword1"></textarea>
													</div>
													<div class="form-group">
														<label for="exampleInputFile">File input</label>
														<input type="file" id="exampleInputFile">

													</div>
													<div class="checkbox">
														<label>
												      <select class="form-control" id="exampleInputPassword1">
												      	<option>1111</option>
												      	<option>2222</option>
												      </select>
												    </label>
													</div>
													<!--<button type="submit" class="btn btn-default">Submit</button>-->
												</form>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												<button type="button" class="btn btn-primary">submit</button>
											</div>
										</div>
									</div>
								</div>
								<tr>
									<td>1,002</td>
									<td>amet</td>
									<td>consectetur</td>
									<td>adipiscing</td>
									<td>elit</td>
									<td><i class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#myModal"></i>　<i class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#myModal"></i></td>
								</tr>
								


							</tbody>
						</table>
					</div>